name: PROD DEPLOYMENT

on:
  push:
    branches: [ all-1.0-prod ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Load .env from GitHub Secret
        run: echo "${{ secrets.MY_ENV_VARS_PROD }}" > .env

      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags:  ${{ secrets.CONTAINER_REGISTRY_PROD }}:${{ secrets.IMAGE_TAG }}
        env:
          MY_ENV_VARS: ${{ secrets.MY_ENV_VARS_PROD }}
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: [build]
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
    -
      name: Deploy Stack
      uses: appleboy/ssh-action@master
      with:
          host: ${{ secrets.HOST_PROD }}
          username: ${{ secrets.USERNAME_PROD }}
          key: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
          port: ${{ secrets.PORT }}
          script: |

              docker login

              docker container stop ${{ secrets.CONTAINER_NAME }}

              docker rm ${{ secrets.CONTAINER_NAME }}
              docker rmi ${{ secrets.CONTAINER_REGISTRY_PROD }}:${{ secrets.IMAGE_TAG }}
              docker pull ${{ secrets.CONTAINER_REGISTRY_PROD }}:${{ secrets.IMAGE_TAG }}

              docker run -d --name ${{ secrets.CONTAINER_NAME }} --network ${{ secrets.NETWORK }} -p ${{ secrets.CONTAINER_PORT }} -t ${{ secrets.CONTAINER_REGISTRY_PROD }}:${{ secrets.IMAGE_TAG }} restart:always
